<a href="/bookings">View all Bookings</a>
<h1>Bookings</h1>

<% @bookings.each do |booking| %>

  <h3><a href="/bookings/<%= booking.id %>">Guest Name: <%= booking.guest_surname%>, <%= booking.guest_firstname %></a></h3>
  <div>Dates: <%= booking.checkin %> to <%= booking.checkout %></div>
  <div>Guests: <%= booking.guests %></div>
  <div>Verified: <%= booking.verified %></div>
<% end %>
