<%= link_to 'View all Bookings', '/bookings' %>
<%= link_to 'View all Vacation Homes', '/vacation_homes' %>

<h1>Update Booking</h1>

<%= form_with url: "/bookings/#{@booking.id}", method: :patch, local: true do |form| %>
  <%= form.label :checkin %>:
  <%= form.date_field :checkin, placeholder: @booking.checkin%><br>

  <%= form.label :checkout %>:
  <%= form.date_field :checkout, placeholder: @booking.checkout %><br>

  <%= form.label :guest_surname %>:
  <%= form.text_field :guest_surname, placeholder: @booking.guest_surname %><br>

  <%= form.label :guest_firstname %>:
  <%= form.text_field :guest_firstname, placeholder: @booking.guest_firstname %><br>

  <%= form.label :guests %>:
  <%= form.number_field :guests, in: 1..20, step: 1, placeholder: @booking.guests %><br>

  <%= form.label :verified %>:
  <%= form.radio_button :verified, "true" %>
  <%= form.label :verified_true, "Is verified" %>
  <%= form.radio_button :verified, "false" %>
  <%= form.label :verified_false, "Is not verified" %><br>

  <%= form.hidden_field :vacation_home_id, value: "#{@booking.vacation_home_id}" %><br><br>
  <%= form.hidden_field :updated_at, value: Time.now %>
  <%= form.submit 'Update Booking' %>
<% end %>
