<%= link_to 'View all Vacation Homes', '/vacation_homes' %>

<h1>All Bookings</h1>

<% @bookings.each do |booking| %>

  <h2>Guest Name: <a href="/bookings/<%= booking.id %>"><%= booking.guest_surname%>, <%= booking.guest_firstname %></a></h2>
  <p>Dates: <%= booking.checkin %> to <%= booking.checkout %></p>
  <p>Guests: <%= booking.guests %></p>
  <p>Verified: <%= booking.verified %></p><br>
  <%= button_to 'Edit', "/bookings/#{booking.id}/edit", method: :get %>
  <%= button_to 'Delete', "/bookings/#{booking.id}", method: :delete %>

<% end %>
