<a href="/vacation_homes">View all Vacation Homes</a>
<a href="/bookings">View all Bookings</a>

<h1>Guest Name: <%= @booking.guest_surname%>, <%= @booking.guest_firstname %></h1>

<p>Dates: <%= @booking.checkin %> to <%= @booking.checkout %></p>
<p>Guests: <%= @booking.guests %></p>
<p>Verified: <%= @booking.verified %></p>
<p>Created At: <%= @booking.created_at %></p>
<p>Updated At: <%= @booking.updated_at %></p><br><br>

<%= button_to 'Delete Booking', "/bookings/#{@booking.id}", method: :delete %>
<a href="/bookings/<%= @booking.id %>/edit">Update Booking</a><br>
