<%= link_to 'View all Bookings', '/bookings' %>
<%= link_to 'View all Vacation Homes', '/vacation_homes' %>

<h1>Update Vacation Home</h1>

<%= form_with url: "/vacation_homes/#{@vacation_home.id}", method: :patch, local: true do |form| %>
  <%= form.label :listing_name %>:
  <%= form.text_field :listing_name, placeholder: @vacation_home.listing_name %><br>

  <%= form.label :location %>:
  <%= form.text_field :location, placeholder: @vacation_home.location %><br>

  <%= form.label :rating %>:
  <%= form.number_field :rating, in: 1.0..5.0, step: 0.1, placeholder: @vacation_home.rating %><br>

  <%= form.label :verified %>:
  <%= form.radio_button :verified, "true" %>
  <%= form.label :verified_true, "It is verified" %>
  <%= form.radio_button :verified, "false" %>
  <%= form.label :verified_false, "It is not verified" %><br>

  <%= form.label :guest_capacity %>:
  <%= form.number_field :guest_capacity, in: 1..20, step: 1, placeholder: @vacation_home.guest_capacity %><br><br>

  <%= form.hidden_field :updated_at, value: Time.now %>
  <%= form.submit 'Update Vacation Home' %>
<% end %>
