<%= link_to 'View all Bookings', '/bookings' %>

<h1>All Vacation Homes</h1>

<% @vacation_homes.each do |home| %>

  <h2><a href="/vacation_homes/<%= home.id %>"><%= home.listing_name %></a></h2>
  <p>Location: <%= home.location%></p>
  <p>Created at: <%= home.created_at%></p>
  <%= button_to 'Edit', "/vacation_homes/#{home.id}/edit", method: :get %>
  <%= button_to 'Delete', "/vacation_homes/#{home.id}", method: :delete %>
<% end %><br>

<%= button_to 'New Vacation Home', "/vacation_homes/new", method: :get %>
