<a href="/vacation_homes">View all Vacation Homes</a>

<h1><%= @vacation_home.listing_name %></h1>

<p>Location: <%= @vacation_home.location %></p>
<p>Rating: <%= @vacation_home.rating %></p>
<p>Verified Listing: <%= @vacation_home.verified %></p>
<p>Guest Capacity: <%= @vacation_home.guest_capacity %></p>
<p>Created At: <%= @vacation_home.created_at %></p>
<p>Updated At: <%= @vacation_home.updated_at %></p>
<p>Number of Bookings: <%= @vacation_home.bookings_count %></p>
<a href="/vacation_homes/<%= @vacation_home.id %>/bookings">View Bookings</a>
