<%= link_to 'View all Bookings', '/bookings' %>
<%= link_to 'View all Vacation Homes', '/vacation_homes' %>

<h1><%= @vacation_home.listing_name %></h1>

<p>Location: <%= @vacation_home.location %></p>
<p>Rating: <%= @vacation_home.rating %></p>
<p>Verified Listing: <%= @vacation_home.verified %></p>
<p>Guest Capacity: <%= @vacation_home.guest_capacity %></p>
<p>Created At: <%= @vacation_home.created_at %></p>
<p>Updated At: <%= @vacation_home.updated_at %></p>
<p>Number of Bookings: <%= @vacation_home.bookings_count %></p><br>

<%= button_to 'Delete Vacation Home', "/vacation_homes/#{@vacation_home.id}", method: :delete %>
<%= button_to 'Update Vacation Home', "/vacation_homes/#{@vacation_home.id}/edit", method: :get %><br>
<%= button_to 'View Bookings', "/vacation_homes/#{@vacation_home.id}/bookings", method: :get %>
